:root {
    --font-size: 1.25em;
    --line-height: 1.5em;

    margin: 0;
    padding: 0;
}

.optimize-content {
    font-family: "xiawu", sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

@font-face {
    font-family: "xiawu";
    src: url("@/assets/fonts/LXGWWenKaiGBScreen.ttf");
}

.optimize-content * {
    margin: 0;
    padding: 6px;
    line-height: normal;
}

.optimize-content *:hover {
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 6px;
}

.optimize-content h1,
.optimize-content h2 {
    text-align: center;
    margin: 0.75em 0;
}

.optimize-content h3,
.optimize-content h4,
.optimize-content h5,
.optimize-content h6 {
    text-align: start;
    margin: 0.5em 0;
}

.optimize-content p {
    text-indent: 2em;
    text-align: justify;
    margin: 0.5em 0;
}

.optimize-content .block {
    display: block;
}

.optimize-content .bookmark {
    position: relative;
    
    background-color: rgba(105, 204, 237, 0.5);
    padding: 0;
    --display: none;
}

.optimize-content .bookmark:hover {
    border-radius: 0;
    --display: inline;
}

.optimize-content .bookmark .delete {
    display: var(--display);

    position: absolute;
    font-size: 16px;
    padding: 0 8px;
    width: 50px;
    height: var(--line-height);
    line-height: var(--line-height);
}
