:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;
    /* border-radius: 10px; */
    /* border: 1px solid #e8e8e8; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}



.row {
    display: flex;
    justify-content: center;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    text-align: center;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

input,
button {
    outline: none;
}

#greet-input,
#path-input {
    margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}

.book-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.book-list-item {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    margin-top: 8px;
    padding: 16px;

    display: flex;
    /* display: inline-block; */
}

.book-list-item:hover {
    background-color: #e8e8e8;
}

.book-list-item>.book-cover {
    width: 200px;
}

.book-list-item>.book-cover>img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 280px;
    object-fit: cover;

    border-radius: 6px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.book-list-item>.book-info-panel {
    margin-left: 12px;
    width: 80%;
}

/* .book-list-item  > .item-title {
    display: inline-block;
} */



/* .titlebar-button:hover {
    background: #5bbec3;
} */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* width: 640px;
    height: 128px; */
    /* border-radius: 10px; */
    /* background-color: #0f0f0f; */
}

::-webkit-scrollbar {
    display: none;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.sidebar {
	width: 250px;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: white;
	border-right: 1px solid #e8e8e8;
}